@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{

    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #08d4ca, #d9ff00);
    display: flex;
    align-items: center;
    justify-content: center;





}
.cartao-login{
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;

}
.cartao-login::before{
    content: '';
    position: absolute;     
    background: rgba(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}
.cartao-login-logo{
    margin-bottom: 2rem;
}
.cartao-login-logo img{
    width: 60px;
}

.cartao-login-logo,
.login-card-header,
.login-card-footer{
    text-align: center;
}

.cartao-login a{
    text-decoration: none;
    color: #35339a
}
.cartao-login a:hover{
    text-decoration: underline;
}
.login-card-header{
    margin-bottom: 2rem;
}
.login-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.login-card-header h1 + div{
    font-size: calc(1 rem* .8);
    opacity: .8;
}
.cartao-login-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.cartao-login-form .form-item{
    position: relative;

}
.cartao-login-form .form-item .form-item-icon{
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;

} 
.cartao-login-form .checkbox{
     display: flex;
     align-items: center;
     gap: 7px;
}
.cartao-login-form .form-item-other{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8 );
    margin-bottom: 5rem;

}
.login-card-footer{
    margin-top: 1.5rem;
    font-size: 1rem * .8;

}
.cartao-login input[type="text"],
.cartao-login input[type="password"],
.cartao-login input[type="email"]{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
   padding: 15px ; 
    padding-left: calc(1rem * 3.5) ;
    border-radius: 100px;
    width:100%;
}
.cartao-login input:focus{
    background: white;
}
.cartao-login input[type="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: black;
}
.cartao-login-form button{
background: black;
color: white;
padding: 1rem;
border-radius: 100px;
text-transform: uppercase;
letter-spacing: 2px;
transition: background .5s;
border: none;
}
.cartao-login-form button:hover{
    background: white;
    color: black;
    cursor: pointer;
  

}
.login-card-social{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}
.login-card-social > div{
    opacity: .8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1rem * .8);
}
.login-card-social-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.login-card-social-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .6);
    border-radius: 100px;
    transition: all .5s;
}
.login-card-social-btn a:hover{
    background: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

/*Deixando a página resposniva*/

@media (max-width: 768px){
     body{
        padding: 2rem 0 ;
     }
     .cartao-login{
        width: 300px;
        padding:2rem;

     }
}
