@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
  --main-color:#3a95ca;
  --black:#13131a;
  --bg:#f1f1ff;
  --border:.1rem solid rgba(255,255,255,.3);
  
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
body{
    background-color:var(--bg);
    
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 1rem;
    font-size:1.3rem;
    color: black;
    background: var(--main-color);
    cursor: pointer;
    }
   .btn:hover{
    letter-spacing: .2rem;
     }
     .header{
        background: var(--bg);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 7%;
        border-bottom: var(--border);
        position: fixed;
        top: 0; left: 0; right: 0;
        z-index: 1000;
      }
 .header .navbar a{
          margin:0 1rem;
          color: black; 
 }
 .header .navbar a:hover{
     color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
     padding-bottom: .5rem;
 }

.cabecalho{
    margin-top: 2%;
    text-align: center;

}
.cabecalho .h2{
    color:var(--main-color);
    font-size: 1.5rem;
}
.cabecalho .paragrafo{
    margin-top: 2%;
    font-size: 2rem;

}
.cabecalho .paragrafo span{
    color:var(--main-color);
}
.cabecalho form{
    flex: 1 1 45rem;
    padding: 10px;
    text-align: center;
}
.cabecalho form input{
    padding: 10px;
    font-size: 1rem;
    text-transform: none;
}
.cabecalho form p{

    font-size: 2rem;
 
}
.cabecalho form span{
     color:var(--main-color);
}
